<!-- marker-detail.component.html -->
<div>
  <div *ngIf="markerDetails">
    <h2>Marker Details</h2>
    <!-- Display Marker Name (Title) -->
    <p><strong>{{ markerDetails.name }}</strong></p>

    <!-- Display Marker Description -->
    <p>{{ markerDetails.description_en || markerDetails.description_de }}</p>

    <!-- Display Images -->
    <div *ngIf="markerDetails.image_paths && markerDetails.image_paths.length > 0">
      <h3>Images</h3>
      <div *ngFor="let image of markerDetails.image_paths">
        <img [src]="image" alt="Marker Image" style="max-width: 300px; max-height: 300px;" />
      </div>
    </div>
  </div>


  <div *ngIf="startInfo">
    <h1>{{ 'markerDetail.welcome_heading' | translate }}</h1>
    <p>{{ 'markerDetail.intro_note' | translate }}</p>
    <p>{{ 'markerDetail.what_is_soundmap' | translate }}</p>
    <p>{{ 'markerDetail.soundmap_description' | translate }}</p>
    <p>{{ 'markerDetail.how_is_soundmap_structured' | translate }}</p>
    <p>{{ 'markerDetail.structure_description' | translate }}</p>
    <p>{{ 'markerDetail.categories_heading' | translate }}</p>
    <ol>
      <li>{{ 'markerDetail.public_places' | translate }}</li>
      <li>{{ 'markerDetail.outdoor_events' | translate }}</li>
      <li>{{ 'markerDetail.hidden_sounds' | translate }}</li>
    </ol>
    <p>{{ 'markerDetail.headphone_recommendation' | translate }}</p>
    <p>{{ 'markerDetail.credits.idea' | translate }}</p>
    <p>{{ 'markerDetail.credits.webdesign' | translate }}</p>
    <p>{{ 'markerDetail.contact' | translate }}  <a href="mailto:axel.mecke@t-online.de">axel.mecke&#64;t-online.de</a>.</p>
    <p>{{ 'markerDetail.developing' | translate }}</p>
  </div>

  <button mat-icon-button (click)="showText()">
    <mat-icon>info</mat-icon>
  </button>
  <div *ngIf="showInfo">
    <h3>{{ 'markerDetail.recording_info_heading' | translate }}</h3>
    <h4>{{ 'markerDetail.equipment.title' | translate }}</h4>
    <ul>
      <li *ngFor="let device of 'markerDetail.equipment.devices' | translate">{{ device }}</li>
    </ul>
    <h4>{{ 'markerDetail.microphones.title' | translate }}</h4>
    <ul>
      <li *ngFor="let mic of 'markerDetail.microphones.list' | translate">{{ mic }}</li>
    </ul>
  </div>
</div>
