<app-navbar></app-navbar>
<div class="container">
<h1>{{ 'resources.title' | translate }}</h1>

<ul>
  <li><a href="https://citiesandmemory.com/sound-map/">Sound map of the world and field recordings of cities and memories</a></li>
  <li><a href="https://www.sounddesign.uni-bonn.de/sound-map">Sound map Bonn</a></li>
  <li><a href="https://earth.fm/nature-soundmap/">Nature sound map</a></li>
  <li><a href="https://soundcartography.wordpress.com/">Soundmaps worldwide</a></li>
  <li><a href="https://soundcartography.wordpress.com/2016/09/30/jerusalem-sound-map/">Sound map Jerusalem</a></li>
  <li><a href="https://www.montrealsoundmap.com/">Sound map Montreal</a></li>
  <li><a href="https://bna-bbot.be/brusselssoundmap/?lng=nl">Sound map Brüssel</a></li>
  <li><a href="https://citiesandmemory.com/london-sound-map/">Sound map London</a></li>
  <li><a href="http://dogasesleri.com/">Sound map Istanbul</a></li>
  <li><a href="https://barcelona.freesound.org/">Sound map Barcelona</a></li>
  <li><a href="http://www.lisbonsoundmap.org/">Sound map Lissabon</a></li>
</ul>
</div>
