<app-navbar></app-navbar>
<div class="container">
  <h1>{{ 'imprint.title' | translate }}</h1>
  <p>{{ 'imprint.operated_by' | translate }}</p>
  <p>{{ 'imprint.company_name' | translate }}</p>
  <p>{{ 'imprint.address' | translate }}</p>
  <p>{{ 'imprint.email' | translate }}</p>
  <p>{{ 'imprint.legal_info' | translate }}</p>
  <p>{{ 'imprint.disclaimer_links' | translate }}</p>
  <h2>{{ 'imprint.legal_information' | translate }}</h2>
  <h3>{{ 'imprint.data_usage_info' | translate }}</h3>
  <h4>{{ 'imprint.privacy_policy' | translate }}</h4>
  <p>{{ 'imprint.privacy_policy_text' | translate }}</p>
  <h4>{{ 'imprint.data_transmission' | translate }}</h4>
  <p>{{ 'imprint.data_transmission_text' | translate }}</p>
  <h4>{{ 'imprint.personal_data_usage' | translate }}</h4>
  <p>{{ 'imprint.personal_data_usage_text' | translate }}</p>
  <h4>{{ 'imprint.data_inquiry' | translate }}</h4>
  <p>{{ 'imprint.data_inquiry_text' | translate }}</p>
  <h4>{{ 'imprint.data_security' | translate }}</h4>
  <p>{{ 'imprint.data_security_text' | translate }}</p>
  <h4>{{ 'imprint.google_analytics' | translate }}</h4>
  <p>{{ 'imprint.google_analytics_text' | translate }}</p>
  <h4>{{ 'imprint.cookies' | translate }}</h4>
  <p>{{ 'imprint.cookies_text' | translate }}</p>
  <h4>{{ 'imprint.privacy_policy_changes' | translate }}</h4>
  <p>{{ 'imprint.privacy_policy_changes_text' | translate }}</p>
</div>

