<app-navbar></app-navbar>
<div class="container">
  <h1>{{ 'imprint.title' | translate }}</h1>
  <p>{{ 'imprint.operated_by' | translate }}</p>
  <p>{{ 'imprint.company_name' | translate }}</p>
  <p>{{ 'imprint.address' | translate }}</p>
  <p>{{ 'imprint.email' | translate }}</p>
  <p>{{ 'imprint.phone' | translate }}</p>
  <p>{{ 'imprint.vat_id' | translate }}</p>
  <p>{{ 'imprint.responsible_person' | translate }}</p>
  <p>{{ 'imprint.legal_info' | translate }}</p>
</div>
<button (click)="switchLanguage('en')">English</button>
<button (click)="switchLanguage('de')">Français</button>
